* {
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    font-size: 100%;
    background-image: url(fundo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    flex:1 1 auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: ghostwhite;
}

#Navbar {
    display: flex;
    height: 120px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
}

.Navbaritem {
    font-family: 'Sarala', sans-serif;
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 18px;
    list-style-type: none;
    display: inline;
}

nav {
    height: fit-content;
    display: flex;
    align-items: center;
}

.Navbar_1 {
    width: 70%;
    height: auto;
    margin-right: 150px;
    letter-spacing: 4px;
    word-spacing: 20px;
}

.Navbar_2 {
    width: 160%;
    font-size: 30px;
}

input {

    display: flex;
    width: 20%;
    transition: width 0.4s ease-in-out;
    padding: 20px;
    border: 0px;
    border-radius: 4px;
    margin: 1rem;
    height: 20px;
    font-size: 20px;

}

.botoes {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape {
    width: 100%;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.container-icon {
    display: flex;
    padding: 5px;
}

.container-icon p {
    font-size: 16px;
    margin-left: 10px;

}

.sociais {
    display: flex;
    padding: 10px;
    gap: 10px;
}