* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    font-size: 100%;
    background-color: rgb(21, 179, 190);
    background-size: cover;
    
}

section {
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Navbar {
    display: flex;
    height: 120px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
}

.Navbaritem {
    font-family: 'Sarala', sans-serif;
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 25px;
    list-style-type: none;
    display: inline;
}

nav {
    position: relative;
    height: fit-content;
    display: flex;
    align-items: center;
}

.Navbar_1 {
    width: 70%;
    height: auto;
    margin-right: 150px;
    letter-spacing: 4px;
    word-spacing: 20px;
}

.Navbar_2 {
    width: 140%;
    font-size: 30px;
}


.rodape {
    width: 100%;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.container-icon {
    display: flex;
    padding: 5px;
}

.container-icon p {
    font-size: 16px;
    margin-left: 10px;

}

.sociais {
    display: flex;
    padding: 10px;
    gap: 10px;

    }


    .e8_2 { 
        background-color:rgba(55.00000052154064, 193.00000369548798, 223.00000190734863, 1);
        width:100%;
        height:1080px;
        position:absolute;
        align-items: center;
        -ms-transform: scale(0.8, 0.8); /* IE 9 */
        -webkit-transform: scale(0.8, 0.8); /* Safari */
        transform: scale(0.8, 0.8);
    }
    .e8_4 { 
        color:rgba(255, 255, 255, 1);
        width:610px;
        height:95px;
        position:absolute;
        left:495px;
        top:88px;
        font-family:Open Sans;
        text-align:left;
        font-size:70px;
        letter-spacing:0;
    }
    .e13_13 { 
        width:1485px;
        height:536px;
        position:absolute;
        left:58px;
        top:336px;
    }
    .e13_8 { 
        background-color:rgba(255, 255, 255, 0.5799999833106995);
        width:461px;
        height:536px;
        position:absolute;
        left:0px;
        top:0px;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
    }
    .e13_11 { 
        background-color:rgba(255, 255, 255, 0.5799999833106995);
        width:461px;
        height:536px;
        position:absolute;
        left:1024px;
        top:0px;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
    }
    .e13_12 { 
        background-color:rgba(255, 255, 255, 0.5799999833106995);
        width:461px;
        height:536px;
        position:absolute;
        left:512px;
        top:0px;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
    }
    .e13_16 { 
        color:rgba(0, 0, 0, 1);
        width:445px;
        height:172px;
        position:absolute;
        left:66px;
        top:540px;
        font-family:Inter;
        text-align:center;
        font-size:28px;
        letter-spacing:0;
    }
    .e13_17 { 
        color:rgba(0, 0, 0, 1);
        width:117px;
        height:30px;
        position:absolute;
        left:230px;
        top:458px;
        font-family:Inter;
        text-align:left;
        font-size:25px;
        letter-spacing:0;
    }
    .e13_18 { 
        color:rgba(0, 0, 0, 1);
        width:222px;
        height:30px;
        position:absolute;
        left:1202px;
        top:440px;
        font-family:Inter;
        text-align:left;
        font-size:25px;
        letter-spacing:0;
    }
    .e13_19 { 
        color:rgba(0, 0, 0, 1);
        width:174px;
        height:30px;
        position:absolute;
        left:713px;
        top:449px;
        font-family:Inter;
        text-align:left;
        font-size:25px;
        letter-spacing:0;
    }
    .e14_23 { 
        width:351px;
        height:287px;
        position:absolute;
        left:608px;
        top:183px;
    }
    .e14_24 { 
        width:587px;
        height:320px;
        position:absolute;
        left:1019px;
        top:168px;
        background-image:url(img-infraes.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .e15_25 { 
        width:587px;
        height:330.51800537109375px;
        position:absolute;
        left:507px;
        top:171px;
        background-image:url(img-localizacao.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .e16_26 { 
        width:587px;
        height:330.51800537109375px;
        position:absolute;
        left:0px;
        top:168px;
        background-image:url(img-hotel.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .e13_20 { 
        color:rgba(0, 0, 0, 1);
        width:464px;
        height:102px;
        position:absolute;
        left:568px;
        top:540px;
        font-family:Inter;
        text-align:center;
        font-size:28px;
        letter-spacing:0;
    }
    .e13_21 { 
        color:rgba(0, 0, 0, 1);
        width:434px;
        height:238px;
        position:absolute;
        left:1099px;
        top:540px;
        font-family:Inter;
        text-align:center;
        font-size:28px;
        letter-spacing:0;
    }
    
    